* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b9d1ea;
  color: #fff;
  font-family: monospace;
  font-size: 1.4rem;
}

.app {
  position: relative;
  padding: 1rem;
  width: 430px;
  background-color: #00235e;
  box-shadow: 0 0 10px rgba(0, 9, 9, .3);
  border-radius: 3px;
}

.pw-display {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 1rem;
  height: 4rem;
  width: 100%;
  background-color: #619abb;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 3px 3px 0 0;
  border: 1px solid #000;
}

.fa-clone {
  cursor: pointer;
}

.pw-icon {
  cursor: pointer;
}

.fa-clone:active {
  color: #b7b7b7;
}

.pw-body {
  margin: 4rem 0 3.5rem;
  list-style: none;
}

.pw-option {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-block {
  position: relative;
  width: 5rem;
  height: 1.4rem;
  display: inline-block;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  display: none;
}

.number {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  border: none;
  font-family: monospace;
  font-size: .95rem;
  color: #000;
  border-radius: 3px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: 0;
  border-radius: 3px;
}

.button-num {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.4rem;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.button-num:hover {
  background-color: #d4d4d4;
}

.button-num:active {
  background-color: #b7b7b7;
}

.button-minus {
  left: 0;
  border-right: 1px solid #d4d4d4;
}

.button-plus {
  right: 0;
  border-left: 1px solid #d4d4d4;
}

.checkbox {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
}

.button-gen {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #fdba21;
  color: #00235e;
  padding: .5rem;
  height: 3.5rem;
  width: 100%;
}

.button-gen:hover {
  background-color: #eba502;
}

.button-gen:active {
  background-color: #d39402;
}